.text-field {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.text-field:focused {
    -fx-focus-color: #9ba4e5;
    -fx-background-color: -fx-focus-color, -fx-background;
}

.text-field:error {
    -fx-border-radius: 10;
    -fx-background-color: derive(red, 99%);
}

.label-button {
    -fx-text-fill: black;
}

.label-button:focused, .label-button:hover {
    -fx-text-fill: darkgray;
}

.label-button:pressed {
    -fx-text-fill: lightgray;
}

.text-field-settings {
    -fx-background-color: white;
    -fx-background-radius: 0;
}

.text-field-settings:focused {
    -fx-focus-color: #9BA5B8;
    -fx-background-color: -fx-focus-color, -fx-background;
}